
body{
    background-color: #33804f;
    margin-left: 20%;
    margin-right: 20%;
    border: 4px ridge #2a5010;
    padding: 10px 10px 10px 10px;
    }
    h1.titulo{
    color: #2a5010;
    font-family: Verdana, Geneva, Tahoma;
    font-size: 30pt;
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
    }
    img{
        border: 1px solid #15230b; 
        margin-left: 2%;
        margin-right: 10px;
    }
    h2.sub-titulo{
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma;
    text-shadow: 1px 1px 1px #000000;
    text-align: center;
    font-weight: bold;
    }
    li.menu{
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma;
    text-shadow: 1px 1px 1px #000000;
    text-align: center;
    font-weight: bold;
    }
    p.menu-texto{
    font-family: Verdana, Geneva, Tahoma;
    }
    p{
    font-family: Verdana;
    margin-left: 2em;margin-right: 10px;
    font-size: 15px;
    color: #ffffff;
    }
    <canvas id="myCanvas" width="200" height="100"></canvas>